.landing-Page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .landing-Page .landing-container {
    background-color: rgba(255, 255, 255, 0.562);
    width: 340px;
    height: 400px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .landing-Page .landing-container p {
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 2px;
      color: #ff7b00; }
    .landing-Page .landing-container p:hover {
      color: black; }
    .landing-Page .landing-container img {
      height: 120px;
      margin-bottom: 20px; }
    .landing-Page .landing-container img:hover {
      height: 122px; }
    .landing-Page .landing-container a {
      width: 60%;
      margin-top: 20px; }
      .landing-Page .landing-container a button {
        width: 100%;
        position: relative;
        height: 30px;
        border: 3px ridge #149CEA;
        outline: none;
        background-color: white;
        color: #430960;
        letter-spacing: 1px;
        transition: 1s;
        border-radius: 2rem;
        font-size: 16px;
        font-weight: bold; }
      .landing-Page .landing-container a button::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 3%;
        width: 100%;
        height: 30%;
        transition: 0.15s;
        transform-origin: center; }
      .landing-Page .landing-container a button::before {
        content: "";
        transform-origin: center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 100%;
        height: 40%;
        transition: 0.2s; }
      .landing-Page .landing-container a button:hover::before, .landing-Page .landing-container a button:hover::after {
        transform: scale(0); }
      .landing-Page .landing-container a button:hover {
        color: white;
        box-shadow: inset 0px 0px 25px #002aff; }
