<link rel="stylesheet" href="/css/details.css" type="text/css" />

<section class="detail-container">
    <a href="/upload"><i class="fa fa-arrow-left"></i> Back</a>
  <p>
    <img src="https://cdn-icons-png.flaticon.com/128/28/28842.png" alt="file" />
    <%= file %>
  </p>
  <form>
    <input type="text" id="searchInput" placeholder="Search data.." />
    <button>Search</button>
  </form>
  <form id="sortForm" action="/filter/<%= file %>" method="post">
    <span>Sort : </span>
    <% if(sortOrder === 'sortAsc' ){ %>
      <select id="sortOrder" name="filter">
        <option value="sortAsc">Ascending</option>
        <option value="sortDesc">Decending</option>
      </select>
    <% } else { %>
      <select id="sortOrder" name="filter">
        <option value="sortDesc">Decending</option>
        <option value="sortAsc">Ascending</option>
      </select>
      <% } %> 
    <button type="submit"><i class="fa fa-filter"></i></button>
  </form>
  <table class="table">
    <tr class="table-row">
      <% for (let key in jsonData[0]) { %>
      <th class="table-head"><%= key %></th>
      <% } %>
    </tr>
    <% for (var i = 0; i < jsonData.length; i++) { %>
    <tr class="table-row">
      <% for (let key in jsonData[i]) { %>
      <td class="table-data"><%= jsonData[i][key] %></td>
      <% } %>
    </tr>
    <% } %>
  </table>
</section>

<script type="text/javascript">
  const searchInput = document.getElementById("searchInput");
  const table = document.querySelector("table");
  const tr = table.getElementsByTagName("tr");

  searchInput.addEventListener("input", function () {
    const filter = searchInput.value.toUpperCase();

    for (let i = 1; i < tr.length; i++) {
      const td = tr[i].getElementsByTagName("td");
      let match = false;
      for (let j = 0; j < td.length; j++) {
        if (
          filter === "" ||
          td[j].innerHTML.toUpperCase().indexOf(filter) > -1
        ) {
          match = true;
        }
      }
      if (match) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  });
</script>
