<link rel="stylesheet" href="/css/landing.css" type="text/css">

<section class="landing-Page">
    <div class="landing-container">
        <p>CSV-Reader</p>
        <img src="https://cdn-icons-png.flaticon.com/128/2306/2306046.png" alt="file" /> 
        <a href="/upload" class="land-btn"><button>Get Started <i class="fa fa-arrow-right"></i></button></a>
    </div>
</section>