<link rel="stylesheet" href="/css/upload.css" type="text/css">

<section class="upload-section">
    <div class="header">
        📁 CSV-Reader
    </div>
    <div class="upload-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="csv" class="drop-container">
                <p><i class="fa fa-upload"></i> Upload Your CSV File</p>
                <input type="file" name="file" id="csv" accept=".csv" required/>
            </label>
            <button class="learn-more">
                <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
                </span>
                <span class="button-text"><i class="fa fa-upload"></i>&nbsp; ADD</span>
              </button>
        </form>
    </div>
    <div class="csv-fileList">
        <% for(i of file){ %>
            <div class="file">
                <p class="fileName">📁 <%= i %></p>
                <div class="foo">
                    <a href="/detail/<%= i %>" class="detail"><i class="fa fa-paper-plane"></i></a>
                    <a href="/delete/<%= i %>" class="delete"><i class="fa fa-times"></i></a>
                </div>
            </div>
        <% } %>
    </div>
</section>